run = "dotnet run"
hidden = [".config"]
entrypoint = "Program.cs"

[env]
REPL_SLUG = "TelegramGameBot"
PORT = "8080"
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"

[nix]
channel = "stable-22_11"

[languages.csharp]
pattern = "**/*.cs"
syntax = "csharp"

[languages.csharp.languageServer]
start = ["omnisharp", "--languageserver"]

[packager]
language = "dotnet"

[packager.features]
packageSearch = true

[deployment]
run = ["sh", "-c", "dotnet run"]
deploymentTarget = "cloudrun"

[http]
host = "0.0.0.0"
port = "8080" 